<div class="row g-0">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.webp" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Florencia Mickaela Córdoba</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi cum aspernatur voluptatum blanditiis provident dolor itaque amet beatae sint. Rem, tempora! Nemo soluta quia aliquid corrupti aspernatur eaque cum et.</p>
        </span>
    </div>
</div>

